<!DOCTYPE html>
<html>
<head>
  #: head
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Continues Scrolling</title>
  <link rel="stylesheet" href="/static/app.css">
  #:endfold
</head>

<body>
  #: hero
  <div class="hero">
    <div class="hero-body">
       <div class="container">
         <h1 class="title">Continues Scrolling</h1>
         <a href="https://newsapi.org/">News API</a>
       </div>
    </div>
  </div>
  #:endfold

  <div class="container">
    <div class="columns">
    </div>
  </div>

  #: scripts
  <script src="/static/js/jquery.js"></script>
  #:endfold
</body>
</html>
